@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

html {
  background: hsl(240, 10%, 3.9%);
  font-family: "Inter", sans-serif;
  font-feature-settings: "liga" 1, "calt" 1;
  color: white;
}

body {
  margin: 0 auto;
  padding: 1rem;
  width: 100%;
  line-height: 1.75rem;
}

* {
  box-sizing: border-box;
}

@supports (font-variation-settings: normal) {
  :root {
    font-family: InterVariable, sans-serif;
  }
}

@media screen and (min-width: 426px) {
  body {
    width: 75%;
  }
}
