---
import Navbar from '../components/Navbar.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="wrath • home">
	<main class="m-auto p-4 text-xl">
		<Navbar />
	</main>
</Layout>
