---
import Layout from "@/layouts/Layout.astro";
import AlbumCards from "@/components/AlbumCards.astro";
---

<Layout title="wrath • music">
  <h1 class="text-xl font-bold">Favorite Albums</h1>
  
  <AlbumCards />
</Layout>
