---
import SocialLinks from "@/components/SocialLinks.astro";
---

<footer class="mt-4">
  <hr class="h-1 border-none bg-gradient-to-r from-rose-500 to-pink-500 dark:from-sky-500 dark:to-emerald-500 rounded mb-4" />
  
  <nav class="mb-4 flex justify-between items-center gap-4">
    <p class="text-base text-zinc-500">Ausath Abdi Dzil Ikram</p>
    <SocialLinks />
  </nav>
</footer>
