---
import { type Page, getPageLinks } from "@/lib/pages";

const pageLinks: Page[] = getPageLinks();
---

<ul class="flex">
  {pageLinks.map((page) => (
    <li class="flex mr-5">
      <a
        href={page.link}
        aria-label={page.label}
      >
        <p
          class="text-base text-zinc-500 border-b-0 bg-gradient-to-r from-pink-500 to-rose-500
          dark:from-emerald-500 dark:to-sky-500 bg-[length:0_2px] bg-[0_100%] bg-no-repeat 
          transition-all delay-75 ease-in-out hover:bg-[length:100%_2px] hover:bg-[0_100%]"
        >
          {page.name}
        </p>
      </a>
    </li>
  ))}
</ul>
