---
import { socials } from '@/lib/socials';
---

<ul class="flex">
  {
    socials.map((social) => (
      <li class="mr-5">
        <a
          href={social.href}
          target="_blank"
          aria-label={social.label}
        >
          <social.Logo />
        </a>
      </li>
    ))
  }
</ul>
