---
import { type Social, getSocials } from "@/lib/socials";

const socialLinks: Social[] = getSocials();
---

<ul class="flex">
  {socialLinks.map(link => (
    <li class="mr-5">
      <a
        href={link.href}
        target="_blank"
        aria-label={link.label}
      >
        <link.Icon />
      </a>
    </li>
  ))}
</ul>
