---
import { type TechStack, getTechStack } from "@/lib/tech-stack";

const techStack: TechStack[] = getTechStack();
---

<div class="flex flex-wrap justify-center sm:justify-start items-center gap-16 mb-8 sm:mb-8">
  {techStack.map((tech) => (
    <a
      href={tech.link}
      target="_blank"
      aria-label={`link to ${tech.name} page`}
    >
      <tech.Icon />
    </a>
  ))}
</div>
