---
import { type TechStack, getTechStack } from "@/lib/tech-stack";

const techStack: TechStack[] = getTechStack();
---

<div class="flex flex-col sm:flex-row justify-start items-center gap-8 mb-8">
  {
    techStack.map((tech) => (
      <a
        href={tech.link}
        target="_blank"
        aria-label={`link to ${tech.name} page`}
      >
        <img
          src={tech.image}
          alt={`${tech.name} logo`}
          width="70px"
          class="m-4 transition ease-in-out hover:scale-105"
          loading="lazy"
        />
      </a>
    ))
  }
</div>
