---
import { tools } from '@/lib/tools';
---

<div
  class="flex flex-wrap justify-center sm:justify-start items-center gap-16 mb-8 sm:mb-8"
>
  {
    tools.map((tool) => (
      <a
        href={tool.link}
        target="_blank"
        aria-label={`link to ${tool.name} page`}
      >
        <tool.Logo />
      </a>
    ))
  }
</div>
